{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
{% load url_tag %}
  {% block title %}<title>{{ title }}</title>{% endblock %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <!-- Добавление дополнительного статического CSS файла -->
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--    <script src="{% static 'core/js/main.js' %}" defer></script>-->
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'core/image/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'core/image/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'core/image/favicon-16x16.png' %}">
</head>
<body style="font-family: 'Oswald';">
  <div class="container-fluid gut" style="padding-left:0;min-height: calc(100vh - 70px);">
    {% block sidebar %}

      <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            {% if perms.core.add_order %}
            <a class="navbar-brand" href="{% url 'core:home' %}">CRM</a>
            {% elif perms.core.add_logistics %}
            <a class="navbar-brand" href="{% url 'core:status_product' %}">CRM</a>
            {% endif %}

            <div class="dropdown me-auto order-3 order-sm-last">
                    {% for m in menu %}
                        {% url m.url_name as url %}
                        {% if url in request.path %}
                        <a href="{% url m.url_name %}"><button class="btn btn-sm btn-light active" type="button">{{m.title}}</button></a>
                        {% else %}
                        <a href="{% url m.url_name %}"><button class="btn btn-sm btn-light" type="button">{{m.title}}</button></a>
                        {% endif %}
                {% endfor %}

            </div>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Уведомления</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                    <div id="notification_info">
                    </div>
                </div>
            </div>
            <div id="notification" class="dropdown order-2 order-md-last" style="padding-right:5px; margin-right:10px;">
                    <button type="button" id="get_notification" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" style="margin: 0; padding: 0; border: 0; outline: none; background-color: transparent; color:white;">
                        <img width="40px;" src="{% static 'core/image/notification.svg' %}">
                    </button>
                    {% if notifications %}
                        <p id="notific" class="p-size" style="color:white; float: right;">{{notifications}}</p>
                    {% else %}
                        <p id="notific" class="p-size" style="color:white; float: right;"></p>
                    {% endif %}
            </div>
            <div id="get_course" class="dropdown order-2 order-md-last" style="padding-right:5px;">
                    <h4 style="color:white;">курс $: {{dollar_course}}</h4>
                    <p class="p-size" style="line-height: 0; color:white; margin:0px;">{{date_review_course}}</p>
                </div>
            <div id="reniew" class="dropdown order-2 order-md-last">
                <button type="button" style="margin: 0; padding: 0; border: 0; outline: none; background-color: transparent;">
                        <img width="30px;" src="{% static 'core/image/repeat.svg' %}">
                </button>
                </div>

            {% if request.user.is_authenticated %}
                <div class="dropdown order-2 order-md-last">
                    <button class="btn btn_cab" type="button" id={{user.username}} data-toggle="dropdown" data-bs-toggle="dropdown" aria-expanded="false" data-display="static" aria-expanded="false">
                        {{user.username}}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="{{m.title}}">

                        {% if request.user.is_superuser %}<li><a class="dropdown-item" href="{% url 'login:register' %}">Регистрация нового пользователя</a></li>{% endif %}
                        <li><a class="dropdown-item" href="{% url 'core:notifications' %}">Журнал</a></li>
                        <li><a class="dropdown-item" href="{% url 'login:logout' %}">Выйти</a></li>
                    </ul>
                </div>
            {% endif %}
        </div>
        </nav>
      <div class="row">
      <div class="shdw col-xs-12 col-sm-2">
          <ul class="list-group list-group-flush">
        {% for m in menu %}
              {% url m.url_name as url %}
              {% if url in request.path %}
              {% for sub in m.submenu %}
              {% if sub.path in request.path %}
                <li class="list-group-item active"><a class="dropdown-item" href="{% url sub.url_name %}"><span>{{ sub.title }}</span></a></li>
              {% else %}
              <li class="list-group-item"><a class="dropdown-item" href="{% url sub.url_name %}"><span>{{ sub.title }}</span></a></li>
              {% endif %}
              {% endfor %}
              {% endif %}
        {% endfor %}

          </ul>
          <div id="message"></div>
      </div>
      {% endblock %}
      <div class="col-xs-12 col-sm-10" style="background:radial-gradient(#f5f5f5, transparent);">
        {% block content %}
        {% endblock %}

{% if page_obj.has_other_pages %}
    <nav class="list-pages">
        <ul>
        {% if page_obj.has_previous %}
            <li class="page-num">
                <a href="{% my_url page_obj.previous_page_number 'page' request.GET.urlencode %}">&lt;</a>
            </li>
        {% endif %}

        {% for p in paginator.page_range %}
            {% if page_obj.number == p %}
                <li class="page-num page-num-selected">{{ p }}</li>
            {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                <li class="page-num">
                    <a href="{% my_url p 'page' request.GET.urlencode %}">{{ p }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-num">
                <a href="{% my_url page_obj.next_page_number 'page' request.GET.urlencode %}">&gt;</a>
            </li>
        {% endif %}
        </ul>
    </nav>
{% endif %}
</div>
</div>
</div>
<script>

    var socket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws');
    socket.onmessage = function(event){
        var data = JSON.parse(event.data)
        console.log(data);
        console.log(data['last_updater']);
        console.log(data['subject']);
        console.log(data['action']);
<!--        $('#message').empty();-->
        $('#message').append('<div class="notific" id="_' + data['subject'].split(" ")[1] + '">' +
                             '<p class="p-size">' + data['last_updater'] + '</p>' +
                             '<p class="p-size">' + data['action'] + '</p>' +
                             '<p class="p-size">' + data['subject'] + '</p>' +
                             '</div>')
        var id_child = "_" + data['subject'].split(" ")[1];
        console.log(id_child);
        $("#" + id_child).show(500, function(){
          setTimeout(function(){
            $("#" + id_child).remove();
          }, 5000);
        });
        $('#notific').text(data['notification_count']);
        var snd = new Audio("{% static 'core/zvuk.mp3' %}");
        snd.play();
    }

    $(document).on('click', "#reniew", function () {
                        var token = '{{ csrf_token }}';
                        $.ajax({
                            type: "POST",
                            url: "{% url 'core:get_course' %}",
                            headers: {'X-CSRFToken': token},

                            success: function(response) {
                            console.log(response);
                            new_data =
                                        '<h4 style="color:white;">курс $: ' + response.course + '</h4>' +
                                        '<p class="p-size" style="line-height: 0; color:white; margin:0px;">' + response.date + '</p>'

                            $("#get_course").empty();
                            $("#get_course").append(new_data);
                            },
                            error: function() {
                                console.log('it broke');
                            },
                        });
                    });

    $(document).on('click', "#get_notification", function () {
                        var token = '{{ csrf_token }}';
                        $.ajax({
                            type: "POST",
                            url: "{% url 'core:get_notification' %}",
                            headers: {'X-CSRFToken': token},
                            success: function(response) {
                            $("#notification_info").empty();
                            response.notification.forEach(function (notification, index) {
                            new_data =('<div id="notification_' + notification.id + '" name="readed" class="notific">' +
                                       '<h4>' + notification.owner + '</h4>' +
                                       '<p class="p-size">' + notification.action + '</p>' +
                                       '<p class="p-size">' + notification.subject + '</p>' +
                                       '<p class="p-size">' + notification.date + '</p>' +
                                       '</div>')
                            $("#notification_info").append(new_data);
                            });
                            },
                            error: function() {
                                console.log('it broke');
                            },
                        });
                    });

    $(document).on('click', "div[name='readed']", function () {
                        var token = '{{ csrf_token }}';
                        let dur = 0.5;
                          $(this).css('animation-duration', dur + 's');
                          $(this).toggleClass('block_animation');
                          setTimeout(() => $(this).remove(), dur * 1000);
                        $.ajax({
                                type: "POST",
                                url: "{% url 'core:read_notification' %}",
                                data: {'id': $(this)[0].id},
                                headers: {'X-CSRFToken': token},
                                success: function(response) {
                                $('#notific').text(response.notification);
                                if (response.notification == 0) {
                                $('#notific').empty();
                                }
                            },
                            error: function() {
                                console.log('it broke');
                            },
                        });
                    });
</script>


<!-- Конец footer'а и страницы -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
<footer>
		<p>2023 CRM</p>
        <p>О пожеланиях или ошибках просьба сообщить <a style="color: #adadad;" href = "mailto: gelion91@mail.ru">Send Email</a></p>
</footer>
</body>
</html>