{% extends "base_generic.html" %}
{% load crispy_forms_tags %}


{% block content %}
{% if form %}
    <div class="col secondcolor" style="padding-left: 1%; padding-right: 1%; background-color:#f5f5f5;">
    <form action="{% url 'core:add_account' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-error">{{ form.non_field_errors }}</div>
        {{ form|crispy }}
        <button class="btn btn-secondary" type="submit">Сохранить</button>
    </form>
    </div>
{% endif %}
{% endblock %}
