{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% if form %}
    <div class="col secondcolor" style="padding-left: 1%; padding-right: 1%; background-color:#f5f5f5;">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% crispy form %}
    </form>
     <a href="{% url 'core:addproduct' object.pk %}">Добавить товар</a>
    </div>
{% endif %}
{% endblock %}