{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ order.client }}</h1>

  <p><strong>Маркировка:</strong>{{ order.marker }}</p>
  <p><strong>Вес:</strong> {{ order.weight }}</p>
  <p><strong>Курс юаня для клиента:</strong> {{ order.exchange_for_client }}</p>
  <p><strong>Курс юаня для компании:</strong> {{ order.exchange_for_company }}</p>
  <p><strong>Стоимость доставки:</strong> {{ order.arrive_price }}</p>
  <p><strong>Дата изменения:</strong> {{ order.date_update }}</p>
  <p><strong>Статус заказа:</strong> {{ order.status }}</p>

{% endblock %}