{% extends "base_generic.html" %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="row" >

        <div class="col-lg-12 secondcolor pad_list" style="background-color:#f5f5f5;">
            <br>
                <button class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Фильтры</button>
                <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">

                    <div class="offcanvas-header">
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
                    </div>

                    <div class="offcanvas-body">
                         <form action="" method="get">
                            {{ filter.form|crispy }}
                         <button class="btn btn-outline-secondary" type="submit">Поиск</button>
                         </form>
                    </div>

                </div>
            <hr>
        {% if object_list %}
        <div class="row" style="margin-top:1%; margin-bottom:1%;">
            <div class="col center"><p class="p-size">Маркировка</p></div>
            <div class="col center"><p class="p-size">Наименование</p></div>
            <div class="col center"><p class="p-size">Оплачен</p></div>
            <div class="col center"><p class="p-size">Прибыл</p></div>
            <div class="col center"><p class="p-size"></p></div>
        </div>
            <div class="col accordion accordion-flush" id="accordionFlushExample">
          {% for obj in object_list %}
            <div class="row list-height" style="font-weight: 700; border-color:#bbddfd; margin-top:1%; margin-bottom:1%; background-color:#fff;">
                <div class="col center"><p>{{obj.product_marker}}</p></div>
                <div class="col center"><p>{{obj.name}}</p></div>
                <div class="col checkbox-wr"><input id="paid_{{obj.pk}}" name="{{obj.pk}}" class="toggle_paid checkbox_margin" type="checkbox" {% if obj.paid %} checked="true" {% endif %}>
                    <label for="paid_{{obj.pk}}">
                        <div class="tick_mark"></div>
                    </label>
                </div>
                <div class="col checkbox-wr"><input id="arrive_{{obj.pk}}" name="{{obj.pk}}" class="toggle_arrive checkbox_margin" type="checkbox" {% if obj.arrive %} checked="true" {% endif %}{% if request.user.is_superuser or groups %}{% else %}disabled{% endif %}>
                    <label for="arrive_{{obj.pk}}">
                        <div class="tick_mark"></div>
                    </label>
                </div>
                <div class="col">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button collapsed" style="background-color:white;" type="button" data-bs-toggle="collapse" data-bs-target="#acc{{forloop.counter}}" aria-expanded="false" aria-controls="flush-collapseOne"></button>
                        </h2>
                    </div>
                </div>
            </div>

        <div id="acc{{forloop.counter}}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                  <p>Фотографии товара у продавца</p>
                  {% for img in obj.images.all %}
                  <img src="{{ img.url }}" class="image-detail">
                    {% load thumbnail %}
                        {% thumbnail img.image "100x100" as im %}
                    <!-- Modal -->
                            <a href="{{ img.image.url }}" data-bs-toggle="modal" data-bs-target="#img{{forloop.counter}}_{{obj.pk}}">
                                  <img src="{{ im.url }}" class="image-detail">
                            </a>
                                        <div class="modal fade" id="img{{forloop.counter}}_{{obj.pk}}" tabindex="-1" aria-labelledby="img{{forloop.counter}}" aria-hidden="true">
                                          <div class="modal-dialog modal-xl">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">{{img.product}}</h1>
                                              </div>
                                              <div class="modal-body">
                                                <img src="{{ img.image.url }}">
                                              </div>
                                              <div class="modal-footer">
                                                <form method="POST" action="{% url 'core:delete_image' img.pk %}">
                                                    {% csrf_token %}<input type="submit" value="Удалить">
                                                </form>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                        {% endthumbnail %}
                  {% endfor %}
                  <hr>
                  <p>Фотографии товара на складе</p>
                  {% for img in obj.packed_images.all %}
                  <img src="{{ img.url }}" class="image-detail">
                    {% load thumbnail %}
                        {% thumbnail img.image "100x100" as im %}
                    <!-- Modal -->
                            <a href="{{ img.image.url }}" data-bs-toggle="modal" data-bs-target="#packed_img{{forloop.counter}}_{{obj.pk}}">
                                  <img src="{{ im.url }}" class="image-detail">
                            </a>
                                        <div class="modal fade" id="packed_img{{forloop.counter}}_{{obj.pk}}" tabindex="-1" aria-labelledby="packed_img{{forloop.counter}}" aria-hidden="true">
                                          <div class="modal-dialog modal-xl">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">{{img.product}}</h1>
                                              </div>
                                              <div class="modal-body">
                                                <img src="{{ img.image.url }}">
                                              </div>
                                              <div class="modal-footer">
                                                <form method="POST" action="{% url 'core:delete_packedimage' img.pk %}">
                                                    {% csrf_token %}<input type="submit" value="Удалить">
                                                </form>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                        {% endthumbnail %}
                  {% endfor %}
                  <hr>

                    <form id="image_form_{{obj.pk}}" class="row" name="{{obj.pk}}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type='hidden' value='{{obj.pk}}' name='id'>
                        {{ image_form | crispy}}
                        <button class="btn btn-outline-secondary" type="submit">Сохранить</button>
                     </form>

                  <div id="comments_{{obj.pk}}">
                  {% if obj.product_notes.all %}
                      {% for comment in obj.product_notes.all %}
                        <div class="col list-height" style="border-color:#bbddfd; margin-top:1%; margin-bottom:1%; background-color:#fff;">
                            <div class="row comment" style="margin:0;">
                                <div class="col-3" style="background-color:#f2feff; margin-left: auto; margin-right: auto;">
                                    <div class="row" style="margin-left: auto; margin-right: auto;">
                                        <p class="p-size">{{ comment.owner.username }}</p>
                                    </div>
                                    <div class="row" style="margin-left: auto; margin-right: auto;">
                                        <p class="p-size">{{ comment.date_create }}</p>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <p class="p-size">{{ comment.comment }}</p>
                                </div>

                                <div class="col-1">
                                    {% if comment.owner == request.user %}
                                    <a href="{% url 'core:delete_notes_product' comment.pk %}">удалить</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                      {% endfor %}
                {% endif %}
              </div>
                <form id="{{obj.pk}}" name="notes" method="post" class="notes" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-error">{{ form.non_field_errors }}</div>
                    {{ notes_form|crispy }}
                    <button class="btn btn-secondary" type="submit">Сохранить</button>
                </form>
<!--                  <form id="{{obj.pk}}" class="row packed_image" name="packed_image" enctype="multipart/form-data">-->
<!--                      <label for="packed_images">Добавить изображение со склада:</label>-->
<!--                        <input type="file" id="packed_images" name="pack_img" accept="image/png, image/jpeg">-->
<!--                      <button id="button_image" type="submit" class="btn btn-success">Сохранить</button>-->
<!--                  </form>-->
                  <hr>
                  <div class="row">
                    <div class="col">
                        <a href="{% url 'core:upd_product' obj.pk %}" class="btn_edit">Редактировать</a>
                    </div>
                    <div class="col">
                        <form method="POST" action="{% url 'core:delete_product' obj.pk %}" class="form">
                            {% csrf_token %}<input type="submit" class="btn_delete" value="Удалить">
                        </form>
                    </div>
                  </div>
              </div>
            </div>
            {% endfor %}
                </div>
        {% else %}
    <h3>Нет товаров.</h3>
    </div>
    </div>
    {% endif %}


<script>

    $('.toggle_paid').click(function() {
    var checked_paid = $(this).is(':checked');
    console.log(checked_paid);
    console.log($(this).attr('id'))
    console.log($(this).attr('name'))

    $.ajax({

        type: "POST",
        url: "{% url 'core:change_status_paid' %}",
        data: { checked: checked_paid,
                id: $(this).attr('name'),
                csrfmiddlewaretoken: '{{ csrf_token }}'},
        success: function(response) {
        console.log(response)
        console.log('it work');
        },
        error: function() {
            console.log('it broke');
        },
    });
});

$('.toggle_arrive').click(function() {
    var checked_arrive = $(this).is(':checked');
    console.log(checked_arrive);
    console.log($(this).attr('id'))
    console.log($(this).attr('name'))

    $.ajax({

        type: "POST",
        url: "{% url 'core:change_status_arrive' %}",
        data: { checked: checked_arrive,
                id: $(this).attr('name'),
                csrfmiddlewaretoken: '{{ csrf_token }}'},
        success: function(response) {
        console.log('it work');
        },
        error: function() {
            console.log('it broke');
        },
    });
});


$('.notes').on('submit', function(e)
    {
    e.preventDefault();
    var $form = $(this);
    console.log($form)
    var data = {
            note: $form.find("[name='comment']").val(),
            id: $form.attr('id'),
        };


    var token = '{{ csrf_token }}';
    console.log(data)

    $.ajax({
            type        : 'POST',
            url         : "{% url 'core:save_notes_product' %}",
            data: data,
            headers: {'X-CSRFToken': token},

            success:function(response){
            $($form)[0].reset();
                var card = '<div class="col list-height" style="border-color:#bbddfd; margin-top:1%; margin-bottom:1%; background-color:#fff;">' +
                           '<div class="row comment" style="margin:0;">' +
                           '<div class="col-3" style="background-color:#f2feff; margin-left: auto; margin-right: auto;">' +
                           '<div class="row" style="margin-left: auto; margin-right: auto;">' +
                           '<p class="p-size">' + response.user + '</p>' +
                           '</div>' +
                           '<div class="row" style="margin-left: auto; margin-right: auto;">' +
                           '<p class="p-size">' + response.date + '</p>' +
                           '</div>' +
                           '</div>' +
                           '<div class="col-8">' +
                           '<p class="p-size">' + response.note + '</p>' +
                           '</div>' +
                           '<div class="col-1">' +
                           '<a href="#">' + 'удалить' +'</a>' +
                           '</div>' +
                           '</div>' +
                           '</div>';
                var comm = 'comments' + '_' + response.product
                $('#' + comm).append(card);

          },
    });
});
  </script>
{% endblock %}