{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="row" >

        <div class="col-lg-12 secondcolor pad_list" style="background-color:#f5f5f5;">
            <br>
                <div class="row">
                    <div class="col-3">
                        <button class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Фильтры</button>
                    </div>
                    <div class="col-9">
                        <h2 style="text-align:end;">{{title}}</h2>
                    </div>
                </div>
                <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">

                    <div class="offcanvas-header">
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
                    </div>

                    <div class="offcanvas-body">
                         <form action="" method="get">
                            {{ filter.form|crispy }}
                         <button class="btn btn-outline-secondary" type="submit">Поиск</button>
                         </form>
                    </div>

                </div>
            <hr>
        {% if object_list %}
        <div class="row" style="margin-top:1%; margin-bottom:1%;">
            <div class="col-2 center"><p class="p-size">Маркировка</p></div>
            <div class="col-2 center"><p class="p-size">Наименование</p></div>
            <div class="col-2 center"><p class="p-size">Прибыл на склад</p></div>
            <div class="col-2 center"><p class="p-size">Добавлен</p></div>
            <div class="col-2 center"><p class="p-size">Менеджер</p></div>
            <div class="col-2 center"><p class="p-size"></p></div>
        </div>
            <div class="col accordion accordion-flush" id="accordionFlushExample">
          {% for obj in object_list %}
            <div class="row list-height" style="font-weight: 700; border-color:#bbddfd; margin-top:1%; margin-bottom:1%; background-color:#fff;">
                <div class="col-2 center"><p class="p-size">{{obj.product_marker}}</p></div>
                <div class="col-2 center"><p class="p-size">{{obj.name}}</p></div>

<!--                <div class="col-2 checkbox-wr"><input id="paid_{{obj.pk}}" name="{{obj.pk}}" class="toggle_paid checkbox_margin" type="checkbox" {% if obj.paid %} checked="true" {% endif %}>-->
<!--                    <label for="paid_{{obj.pk}}">-->
<!--                        <div class="tick_mark"></div>-->
<!--                    </label>-->
<!--                </div>-->
                <div class="col-2 checkbox-wr"><input id="arrive_{{obj.pk}}" name="{{obj.pk}}" class="toggle_arrive checkbox_margin" type="checkbox" {% if obj.arrive %} checked="true" {% endif %}{% if request.user.is_superuser or logist or china %}{% else %}disabled{% endif %}>
                    <label for="arrive_{{obj.pk}}">
                        <div class="tick_mark"></div>
                    </label>
                </div>
                <div class="col-2 center"><p class="p-size">{{obj.date_create}}</p></div>
                <div class="col-2 center"><p class="p-size">{{obj.owner}}</p></div>
                <div class="col-2">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button collapsed" style="background-color:white;" type="button" data-bs-toggle="collapse" data-bs-target="#acc{{forloop.counter}}" aria-expanded="false" aria-controls="flush-collapseOne"></button>
                        </h2>
                    </div>
                </div>
            </div>

        <div id="acc{{forloop.counter}}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                  {% if obj.images.all %}
                  <p class="p-size">Фотографии товара у продавца</p>
                  {% for img in obj.images.all %}
                  <img src="{{ img.url }}" class="image-detail">
                    {% load thumbnail %}
                        {% thumbnail img.image "64x64" as im %}
                    <!-- Modal -->
                            <a href="{{ img.image.url }}" data-bs-toggle="modal" data-bs-target="#img{{forloop.counter}}_{{obj.pk}}">
                                  <img src="{{ im.url }}" class="image-detail">
                            </a>
                        {% endthumbnail %}
                                        <div class="modal fade" id="img{{forloop.counter}}_{{obj.pk}}" tabindex="-1" aria-labelledby="img{{forloop.counter}}" aria-hidden="true">
                                          <div class="modal-dialog modal-xl">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">{{img.product}}</h1>
                                              </div>
                                              <div class="modal-body">
                                                <img src="{{ img.image.url }}">
                                              </div>
                                              <div class="modal-footer">
                                                <form method="POST" action="{% url 'core:delete_image' img.pk %}">
                                                    {% csrf_token %}<input type="submit" value="Удалить">
                                                </form>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                  {% endfor %}
                  {% endif %}
                  <br>
                  <hr>
                  <p class="p-size">Фотографии товара на складе</p>
                  {% if obj.packed_images.all %}
                  <div id="ajax_photo_{{obj.pk}}" style="display:flex;flex-wrap: wrap;">
                  {% for img in obj.packed_images.all %}
                  <div id="div_image_{{img.pk}}" name="div_image">
                    {% load thumbnail %}
                        {% thumbnail img.image "64x64" as im %}
                    <!-- Modal -->
                            <a href="{{ img.image.url }}" data-bs-toggle="modal" data-bs-target="#packed_img_{{img.pk}}">
                                  <img src="{{ im.url }}" class="image-detail ajax_image">
                            </a>
                                        <div class="modal fade" id="packed_img_{{img.pk}}" tabindex="-1" aria-labelledby="packed_img" aria-hidden="true">
                                          <div class="modal-dialog modal-xl">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">{{img.product}}</h1>
                                              </div>
                                              <div class="modal-body">
                                                <img src="{{ img.image.url }}">
                                              </div>
                                              <div class="modal-footer">
                                                  <input id="inp_{{img.pk}}" name="del_image_input" type="button" value="Удалить">
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                    {% endthumbnail %}
                  </div>
                  {% endfor %}
                  </div>
                  {% else %}
                  <div id="ajax_photo_{{obj.pk}}" style="display:flex;flex-wrap: wrap;"></div>
                  {% endif %}
                  <hr>
                  {% for file in obj.files.all %}
                        {% if '.pdf' in file.filename %}
                            <a href={{file.file.url}} target="_blank"><img width="30px;" src="{% static 'core/image/pdf.png' %}">{{file.filename}}</a>
                        {% else %}
                            <a href={{file.file.url}}><img width="30px;" src="{% static 'core/image/xls.png' %}">{{file.filename}}</a>
                        {% endif %}
                        <br>
                    {% endfor %}
                  <br>
                  <form id="imageform_{{obj.pk}}" method='post' class="row packed_image" name="packed_image" enctype="multipart/form-data">
                      <div class="row fl_image">
                          <div class="col-11"><input class="form-control" id="packed_images_{{obj.pk}}" name="packed_images" type="file" accept="image/*"></div>
                        <div class="col-1"><button class="btn btn-secondary" name="button_image" type="submit">Сохранить</button></div>
                      </div>
                  </form>
                    <div id="preview_{{obj.pk}}"></div>

                    <script>
                        document.querySelector('#packed_images_{{obj.pk}}').addEventListener('change', function(event) {
                        var files = event.target.files;
                        var preview = document.getElementById('preview_{{obj.pk}}');

                        // Clear any existing content
                        preview.innerHTML = '';

                        // Loop through all selected files
                        for (var i = 0; i < files.length; i++) {
                          var file = files[i];

                          // Only process image files
                          if (!file.type.match('image.*')) {
                            continue;
                          }

                          var imgContainer = document.createElement('div');
                          imgContainer.style.marginBottom = '20px'; // Spacing between each image container
                          imgContainer.style.marginTop = '20px';
                          var img = document.createElement('img');
                          img.src = URL.createObjectURL(file);
                          img.style.height = '64px';
                          img.style.display = 'block'; // Ensure the image is displayed in a block to put it on a new line
                          img.style.marginBottom = '10px';

                          var fileInfo = document.createElement('p');
                          fileInfo.textContent = `Имя файла: ${file.name}`;
                          fileInfo.style.fontSize = '14px';
                          fileInfo.style.marginTop = '0';

                          // Append the image and file info to the container
                          imgContainer.appendChild(img);
                          imgContainer.appendChild(fileInfo);

                          // Append the container to the preview div
                          preview.appendChild(imgContainer);
                        }
                      });
                    </script>
                  <div id="comments_{{obj.pk}}">
                  {% if obj.product_notes.all %}
                      {% for comment in obj.product_notes.all %}
                        <div id="comment_div_{{comment.pk}}" class="col list-height" style="border-color:#bbddfd; margin-top:1%; margin-bottom:1%; background-color:#fff;">
                            <div class="row comment" style="margin:0; padding-right:0; padding-left:0;">
                                <div class="col-3" style="background-color:#f2feff; margin-left: auto; margin-right: auto;">
                                    <div class="row" style="margin-left: auto; margin-right: auto; padding-right:0; padding-left:0;">
                                        <p class="p-size">{{ comment.owner.username }}</p>
                                    </div>
                                    <div class="row" style="margin-left: auto; margin-right: auto; padding-right:0; padding-left:0;">
                                        <p class="p-size">{{ comment.date_create }}</p>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <p class="p-size">{{ comment.comment }}</p>
                                </div>

                                <div class="col-1">
                                    {% if comment.owner == request.user %}
                                    <input id="inp_{{comment.pk}}" name="del_comment" type="button" value="Удалить">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                      {% endfor %}
                {% endif %}
              </div>
                <form id="{{obj.pk}}" name="notes" method="post" class="notes" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-error">{{ form.non_field_errors }}</div>
                    {{ notes_form|crispy }}
                    <button class="btn btn-secondary" type="submit">Сохранить</button>
                </form>
<!--                  <form id="{{obj.pk}}" class="row packed_image" name="packed_image" enctype="multipart/form-data">-->
<!--                      <label for="packed_images">Добавить изображение со склада:</label>-->
<!--                        <input type="file" id="packed_images" name="pack_img" accept="image/png, image/jpeg">-->
<!--                      <button id="button_image" type="submit" class="btn btn-success">Сохранить</button>-->
<!--                  </form>-->
                  <hr>
                  {% if not china %}
                  <div class="row">
                    <div class="col">
                        <a href="{% url 'core:upd_product' obj.pk %}" class="btn_edit">Редактировать</a>
                    </div>
                    <div class="col">
                        <form method="POST" action="{% url 'core:delete_product' obj.pk %}" class="form">
                            {% csrf_token %}<input type="submit" class="btn_delete" value="Удалить">
                        </form>
                    </div>
                  </div>
                  {% endif %}
              </div>
            </div>
            {% endfor %}
                </div>
        {% else %}
    <h3>Нет товаров.</h3>
    </div>
    </div>
    {% endif %}


<script>

    $('.toggle_paid').click(function() {
    var checked_paid = $(this).is(':checked');
    console.log(checked_paid);
    console.log($(this).attr('id'))
    console.log($(this).attr('name'))

    $.ajax({

        type: "POST",
        url: "{% url 'core:change_status_paid' %}",
        data: { checked: checked_paid,
                id: $(this).attr('name'),
                csrfmiddlewaretoken: '{{ csrf_token }}'},
        success: function(response) {
        console.log(response)
        console.log('it work');
        },
        error: function() {
            console.log('it broke');
        },
    });
});

$('.toggle_arrive').click(function() {
    var checked_arrive = $(this).is(':checked');
    console.log(checked_arrive);
    console.log($(this).attr('id'))
    console.log($(this).attr('name'))

    $.ajax({

        type: "POST",
        url: "{% url 'core:change_status_arrive' %}",
        data: { checked: checked_arrive,
                id: $(this).attr('name'),
                csrfmiddlewaretoken: '{{ csrf_token }}'},
        success: function(response) {
        console.log('it work');
        },
        error: function() {
            console.log('it broke');
        },
    });
});


$('.notes').on('submit', function(e)
    {
    e.preventDefault();
    var $form = $(this);
    console.log($form)
    var data = {
            note: $form.find("[name='comment']").val(),
            id: $form.attr('id'),
        };


    var token = '{{ csrf_token }}';

    $.ajax({
            type        : 'POST',
            url         : "{% url 'core:save_notes_product' %}",
            data: data,
            headers: {'X-CSRFToken': token},

            success:function(response){
            $($form)[0].reset();
                var card = '<div id="comment_div_' + response.comment_id + '" class="col list-height" style="border-color:#bbddfd; margin-top:1%; margin-bottom:1%; background-color:#fff;">' +
                           '<div class="row comment" style="margin:0;">' +
                           '<div class="col-3" style="background-color:#f2feff; margin-left: auto; margin-right: auto;">' +
                           '<div class="row" style="margin-left: auto; margin-right: auto;">' +
                           '<p class="p-size">' + response.user + '</p>' +
                           '</div>' +
                           '<div class="row" style="margin-left: auto; margin-right: auto;">' +
                           '<p class="p-size">' + response.date + '</p>' +
                           '</div>' +
                           '</div>' +
                           '<div class="col-8">' +
                           '<p class="p-size">' + response.note + '</p>' +
                           '</div>' +
                           '<div class="col-1">' +
                           '<input id="inp_' + response.comment_id + '"name="del_comment" type="button" value="Удалить">' +
                           '</div>' +
                           '</div>' +
                           '</div>';
                var comm = 'comments' + '_' + response.product
                $('#' + comm).append(card);

          },
    });
});

$("form[name='packed_image']").on('submit', function(e){
                       e.preventDefault();
                       var token = '{{ csrf_token }}';
                       var $form = $(this)[0];
                       var formData = new FormData($(this)[0]);

                       formData.append('image', $(this).find("[name='packed_images']")[0].files[0]);
                       formData.append('id', $(this)[0].id);
                          $.ajax({
                              url: "{% url 'core:save_image_product' %}",
                              type: 'POST',
                              data: formData,
                              headers: {'X-CSRFToken': token},
                              async: false,
                              cache: false,
                              contentType: false,
                              processData: false,
                              success: function (response) {
                                var img =  '<div id="div_image_' + response.image_id + '" name="div_image">' +
                                           '<a href="' + response.image + '" data-bs-toggle="modal" data-bs-target="#packed_img_' + response.image_id + '">' +
                                           '<img src="' + response.image_mini + '" class="image-detail ajax_image">' +
                                           '</a>' +
                                           '<div class="modal fade" id="packed_img_' + response.image_id + '" tabindex="-1" aria-hidden="true" aria-labelledby="img">' +
                                           '<div class="modal-dialog modal-xl">' +
                                           '<div class="modal-content">' +
                                           '<div class="modal-header">' +
                                           '<h1 class="modal-title fs-5" id="exampleModalLabel"></h1>' +
                                           '</div>' +
                                           '<div class="modal-body">' +
                                           '<img src="' + response.image + '">' +
                                           '</div>' +
                                           '<div class="modal-footer">' +
                                           '<input id="inp_' + response.image_id + '" name="del_image_input" type="button" value="Удалить">' +
                                           '</div>' +
                                           '</div>' +
                                           '</div>' +
                                           '</div>' +
                                           '</div>'

                                var need = 'ajax_photo_' + response.product_id
                                $('#' + need).append(img);
                                $form.reset();
                                preview = 'preview_' + response.product_id
                                $("#" + preview).empty();
                              }
                          });
});

$(document).on('click', "input[name='del_image_input']", function (e) {
                        e.preventDefault();
                       var token = '{{ csrf_token }}';
                        $.ajax({
                            type: "POST",
                            url: "{% url 'core:delete_image_product' %}",
                            headers: {'X-CSRFToken': token},
                            data: {'id': $(this)[0].id},

                            success: function(response) {
                            divimage = 'div_image_' + response.image_id
                            modal_id = 'packed_img_' + response.image_id
                            $("#" + modal_id).modal('hide');
                            $("#" + divimage).remove();
                            },
                            error: function() {
                                console.log('it broke');
                            },
                        });
                    });

$(document).on('click', "input[name='del_comment']", function (e) {
    e.preventDefault();
    var token = '{{ csrf_token }}';
    $.ajax({
        type: "POST",
        url: "{% url 'core:delete_notes_product' %}",
        headers: {'X-CSRFToken': token},
        data: {'id': $(this)[0].id},
        success: function(response) {
        console.log(response)
        notes = 'comment_div_' + response.notes_id
        $("#" + notes).remove();
        },
        error: function() {
            console.log('it broke');
        },
    });
});

  </script>
{% endblock %}