{% extends "base_generic.html" %}
{% load crispy_forms_tags %}



{% block content %}


    <div class="row" >

        <div class="col-lg-12 secondcolor pad_list" style="background-color:#f5f5f5;">
            <br>
                <button class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Фильтры</button>
                <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">

                    <div class="offcanvas-header">
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
                    </div>

                    <div class="offcanvas-body">
                         <form action="" method="get">
                            {{ filter.form|crispy }}
                         <button class="btn btn-outline-secondary" type="submit">Поиск</button>
                         </form>
                    </div>

                </div>
            <hr>
        {% if object_list %}
        <div class="row" style="margin-top:1%; margin-bottom:1%;">
            <div class="col-2 center"><p class="p-size">Маркировка</p></div>
            <div class="col-2 center"><p class="p-size">Отправлен</p></div>
            <div class="col-2 center"><p class="p-size">В Москве</p></div>
            <div class="col-2 center"><p class="p-size">Прибыл клиенту</p></div>
            <div class="col-2 center"><p class="p-size">Оформил</p></div>
            <div class="col-2 center"><p class="p-size"></p></div>
        </div>

            <div class="col accordion accordion-flush" id="accordionFlushExample">
          {% for obj in object_list %}
            <div class="row list-height" style="font-weight: 700; border-color:#bbddfd; margin-top:1%; margin-bottom:1%; background-color:#fff;">
                <div class="col-2 center"><p>{{obj.marker}}</p></div>

                <div class="col-2 checkbox-wr"><input id="first_step-{{obj.pk}}" name="{{obj.pk}}" class="first_step checkbox_margin" type="checkbox" {% if obj.first_step %} checked="true" {% endif %}{% if request.user.is_superuser or groups %}{% else %}disabled{% endif %}>
                    <label for="first_step-{{obj.pk}}">
                        <div class="tick_mark"></div>
                    </label>
                </div>

                <div class="col-2 checkbox-wr"><input id="second_step-{{obj.pk}}" name="{{obj.pk}}" class="second_step checkbox_margin" type="checkbox" {% if obj.second_step %} checked="true" {% endif %}{% if request.user.is_superuser or groups %}{% else %}disabled{% endif %}>
                    <label for="second_step-{{obj.pk}}">
                        <div class="tick_mark"></div>
                    </label>
                </div>

                <div class="col-2 checkbox-wr"><input id="third_step-{{obj.pk}}" name="{{obj.pk}}" class="third_step checkbox_margin checkbox-wrapper-26" type="checkbox" {% if obj.third_step %} checked="true" {% endif %}{% if request.user.is_superuser or groups %}{% else %}disabled{% endif %}>
                    <label for="third_step-{{obj.pk}}">
                        <div class="tick_mark"></div>
                    </label>
                </div>
                <div class="col-2 center"><p class="p-size">{{obj.owner}}</p></div>
                <div class="col-2 center">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button id="{{obj.pk}}" class="accordion-button collapsed" style="background-color:white;" type="button" data-bs-toggle="collapse" data-bs-target="#acc{{forloop.counter}}" aria-expanded="false" aria-controls="flush-collapseOne"></button>
                        </h2>
                    </div>
                </div>
            </div>

        <div id="acc{{forloop.counter}}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                  <div id="acc_{{obj.pk}}_photo"></div>

                  {% for product in obj.product.all %}
                  {% with outer_counter=forloop.counter %}
                  {% if outer_counter >= 2 %}
                  <hr>
                  {% endif %}
                  <div class="row">
                  <p class="p-size" style="font-weight: bold;">{{product.name}} | {{product.product_marker}}</p>
                  <div class="col">
                  <p class="p-size">Фото продавца</p>
                  {% if product.images.all %}
                    {% for img in product.images.all %}
                  <img src="{{ img.url }}" class="image-detail">
                    {% load thumbnail %}
                        {% thumbnail img.image "64x64" as im %}
                    <!-- Modal -->
                            <a href="{{ img.image.url }}" data-bs-toggle="modal" data-bs-target="#img{{forloop.counter}}_{{outer_counter}}_{{obj.pk}}">
                                  <img src="{{ im.url }}" class="image-detail">
                            </a>
                                        <div class="modal fade" id="img{{forloop.counter}}_{{outer_counter}}_{{obj.pk}}" tabindex="-1" aria-labelledby="img{{forloop.counter}}" aria-hidden="true">
                                          <div class="modal-dialog modal-xl">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h1 class="modal-title fs-5">{{img.product}}</h1>
                                              </div>
                                              <div class="modal-body">
                                                <img src="{{ img.image.url }}">
                                              </div>
                                              <div class="modal-footer">
                                                <form method="POST" action="{% url 'core:delete_logistic_image' img.pk %}">
                                                    {% csrf_token %}<input type="submit" value="Удалить">
                                                </form>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                        {% endthumbnail %}
                  {% endfor %}
                  {% endif %}
                      </div>
                  <div class="col">
                  {% if product.packed_images.all %}
                    <p class="p-size">фото на складе</p>
                    {% for img in product.packed_images.all %}
                  <img src="{{ img.url }}" class="image-detail">
                    {% load thumbnail %}
                        {% thumbnail img.image "64x64" as im %}
                    <!-- Modal -->
                            <a href="{{ img.image.url }}" data-bs-toggle="modal" data-bs-target="#img{{forloop.counter}}_{{outer_counter}}_{{obj.pk}}_packed">
                                  <img src="{{ im.url }}" class="image-detail">
                            </a>
                                        <div class="modal fade" id="img{{forloop.counter}}_{{outer_counter}}_{{obj.pk}}_packed" tabindex="-1" aria-labelledby="img{{forloop.counter}}" aria-hidden="true">
                                          <div class="modal-dialog modal-xl">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">{{img.product}}</h1>
                                              </div>
                                              <div class="modal-body">
                                                <img src="{{ img.image.url }}">
                                              </div>
                                              <div class="modal-footer">
                                                <form method="POST" action="{% url 'core:delete_logistic_image' img.pk %}">
                                                    {% csrf_token %}<input type="submit" value="Удалить">
                                                </form>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                        {% endthumbnail %}
                  {% endfor %}
                  {% endif %}
                  </div>
                  </div>
                  {% endwith %}
                  {% endfor %}
                  <br>

                  {% if obj.logistic_images.all %}
                  <hr style="border-width: 3px;">
                  <p class="p-size">Фотографии груза</p>
                  {% for img in obj.logistic_images.all %}
                  <img src="{{ img.url }}" class="image-detail">
                    {% load thumbnail %}
                        {% thumbnail img.image "64x64" as im %}
                    <!-- Modal -->
                            <a href="{{ img.image.url }}" data-bs-toggle="modal" data-bs-target="#img{{forloop.counter}}_{{obj.pk}}">
                                  <img src="{{ im.url }}" class="image-detail">
                            </a>
                                        <div class="modal fade" id="img{{forloop.counter}}_{{obj.pk}}" tabindex="-1" aria-labelledby="img{{forloop.counter}}" aria-hidden="true">
                                          <div class="modal-dialog modal-xl">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">{{img.product}}</h1>
                                              </div>
                                              <div class="modal-body">
                                                <img src="{{ img.image.url }}">
                                              </div>
                                              <div class="modal-footer">
                                                <form method="POST" action="{% url 'core:delete_logistic_image' img.pk %}">
                                                    {% csrf_token %}<input type="submit" value="Удалить">
                                                </form>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                        {% endthumbnail %}
                  {% endfor %}
                  {% endif %}
                  <div id="ajax_photo_{{obj.pk}}"></div>
                    <hr>
<!--                    <form id="image_form_{{obj.pk}}" class="row" name="{{obj.pk}}" method="post" enctype="multipart/form-data">-->
<!--                        {% csrf_token %}-->
<!--                        <input type='hidden' value='{{obj.pk}}' name='id'>-->
<!--                        <div class="row fl_image">-->
<!--                        <div class="col-11">{{ image_form | crispy}}</div>-->
<!--                        <div class="col-1"><button class="btn btn-secondary" type="submit">Сохранить</button></div>-->
<!--                        </div>-->
<!--                     </form>-->
                  <form id="imageform_{{obj.pk}}" method='post' class="row packed_image" name="packed_image" enctype="multipart/form-data">
                      <div class="row fl_image">
                          <div class="col-11"><input class="form-control" id="packed_images_{{obj.pk}}" name="packed_images" type="file" accept="image/*"></div>
                        <div class="col-1"><button class="btn btn-secondary" name="button_image" type="submit">Сохранить</button></div>
                      </div>
                  </form>
                    <div id="preview_{{obj.pk}}"></div>

                    <script>
                        document.querySelector('#packed_images_{{obj.pk}}').addEventListener('change', function(event) {
                        var files = event.target.files;
                        var preview = document.getElementById('preview_{{obj.pk}}');

                        // Clear any existing content
                        preview.innerHTML = '';

                        // Loop through all selected files
                        for (var i = 0; i < files.length; i++) {
                          var file = files[i];

                          // Only process image files
                          if (!file.type.match('image.*')) {
                            continue;
                          }

                          var imgContainer = document.createElement('div');
                          imgContainer.style.marginBottom = '20px'; // Spacing between each image container
                          imgContainer.style.marginTop = '20px';
                          var img = document.createElement('img');
                          img.src = URL.createObjectURL(file);
                          img.style.height = '64px';
                          img.style.display = 'block'; // Ensure the image is displayed in a block to put it on a new line
                          img.style.marginBottom = '10px';

                          var fileInfo = document.createElement('p');
                          fileInfo.textContent = `Имя файла: ${file.name}`;
                          fileInfo.style.fontSize = '14px';
                          fileInfo.style.marginTop = '0';

                          // Append the image and file info to the container
                          imgContainer.appendChild(img);
                          imgContainer.appendChild(fileInfo);

                          // Append the container to the preview div
                          preview.appendChild(imgContainer);
                        }
                      });
                    </script>

                  <div id="comments_{{obj.pk}}">
                  {% if obj.delivery_notes.all %}
                      {% for comment in obj.delivery_notes.all %}
                        <div class="col list-height" style="border-color:#bbddfd; margin-top:1%; margin-bottom:1%; background-color:#fff;">
                            <div class="row comment" style="margin:0; padding-right:0; padding-left:0;">
                                <div class="col-4" style="background-color:#f2feff; margin-left: auto; margin-right: auto;">
                                    <div class="row" style="margin-left: auto; margin-right: auto; padding-right:0; padding-left:0;">
                                        <p class="p-size">{{ comment.owner.username }}</p>
                                    </div>
                                    <div class="row" style="margin-left: auto; margin-right: auto; padding-right:0; padding-left:0;">
                                        <p class="p-size">{{ comment.date_create }}</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <p class="p-size">{{ comment.comment }}</p>
                                </div>

                                <div class="col-2">
                                    {% if comment.owner == request.user %}
                                    <a href="{% url 'core:delete_notes_delivery' comment.pk %}"><p class="p-size">удалить</p></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                      {% endfor %}
                {% endif %}
              </div>
                  <form id="{{obj.pk}}" name="notes" method="post" class="notes" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-error">{{ form.non_field_errors }}</div>
                    {{ notes_form|crispy }}
                    <button class="btn btn-secondary" type="submit">Сохранить</button>
                </form>
                  <hr>
                  <div class="row">
                    <div class="col">
                        <a href="{% url 'core:update_delivery' obj.pk %}" class="btn_edit">Редактировать</a>
                    </div>
                    <div class="col">
                        <form method="POST" action="{% url 'core:delete_logistic' obj.pk %}" class="form">
                            {% csrf_token %}<input type="submit" class="btn_delete" value="Удалить">
                        </form>
                    </div>
                  </div>
              </div>
            </div>
            {% endfor %}
                </div>
        {% else %}
    <h3>Нет грузов.</h3>
    </div>
    </div>
    {% endif %}


<script>

$('.first_step').click(function() {
var checked_first_step = $(this).is(':checked');

    $.ajax({

        type: "POST",
        url: "{% url 'core:change_logistic_status' %}",
        data: { checked: checked_first_step,
                id: $(this).attr('name'),
                attribut: $(this).attr('id'),
                csrfmiddlewaretoken: '{{ csrf_token }}'},
        success: function(response) {
        },
        error: function() {
            console.log('it broke');
        },
    });
});

$('.second_step').click(function() {
var checked_first_step = $(this).is(':checked');


    $.ajax({

        type: "POST",
        url: "{% url 'core:change_logistic_status' %}",
        data: { checked: checked_first_step,
                id: $(this).attr('name'),
                attribut: $(this).attr('id'),
                csrfmiddlewaretoken: '{{ csrf_token }}'},
        success: function(response) {
        },
        error: function() {
            console.log('it broke');
        },
    });
});

$('.third_step').click(function() {
var checked_first_step = $(this).is(':checked');


    $.ajax({

        type: "POST",
        url: "{% url 'core:change_logistic_status' %}",
        data: { checked: checked_first_step,
                id: $(this).attr('name'),
                attribut: $(this).attr('id'),
                csrfmiddlewaretoken: '{{ csrf_token }}'},
        success: function(response) {
        },
        error: function() {
            console.log('it broke');
        },
    });
});

<!--$('.accordion-button').on('click', function(e)-->
<!--    {-->
<!--    e.preventDefault();-->
<!--    var item = $(this);-->
<!--    var token = '{{ csrf_token }}';-->
<!--    var data = {-->
<!--            id: item.attr('id'),-->
<!--        };-->
<!--$.ajax({-->
<!--            type        : 'POST',-->
<!--            url         : "{% url 'core:load_delivery_info' %}",-->
<!--            data: data,-->
<!--            headers: {'X-CSRFToken': token},-->
<!--            success:function(response){-->
<!--                var need = 'acc_' + response.delivery_id + '_photo'-->
<!--                $('#' + need).empty();-->
<!--                $.each(response.product_image, function(k, v) {-->
<!--                    $.each(v, function(i, b) {-->
<!--                    var img = '<img src="' + b + '">'-->
<!--                    $('#' + need).append(img);-->
<!--                    });-->
<!--                });-->
<!--          },-->
<!--    });-->
<!--});-->


$('.notes').on('submit', function(e)
    {
    e.preventDefault();
    var $form = $(this);
    var data = {
            note: $form.find("[name='comment']").val(),
            id: $form.attr('id'),
        };
    var token = '{{ csrf_token }}';
    $.ajax({
            type        : 'POST',
            url         : "{% url 'core:save_notes_delivery' %}",
            data: data,
            headers: {'X-CSRFToken': token},
            success:function(response){
            $($form)[0].reset();
                var card = '<div class="col list-height" style="border-color:#bbddfd; margin-top:1%; margin-bottom:1%; background-color:#fff;">' +
                           '<div class="row comment" style="margin:0;">' +
                           '<div class="col-3" style="background-color:#f2feff; margin-left: auto; margin-right: auto;">' +
                           '<div class="row" style="margin-left: auto; margin-right: auto;">' +
                           '<p class="p-size">' + response.user + '</p>' +
                           '</div>' +
                           '<div class="row" style="margin-left: auto; margin-right: auto;">' +
                           '<p class="p-size">' + response.date + '</p>' +
                           '</div>' +
                           '</div>' +
                           '<div class="col-8">' +
                           '<p class="p-size">' + response.note + '</p>' +
                           '</div>' +
                           '<div class="col-1">' +
                           '<a href=' + response.url + '>' + 'удалить' + '</a>' +
                           '</div>' +
                           '</div>' +
                           '</div>';
                var comm = 'comments' + '_' + response.delivery
                $('#' + comm).append(card);

          },
    });
});


$("form[name='packed_image']").on('submit', function(e){
                       e.preventDefault();
                       var token = '{{ csrf_token }}';
                       var $form = $(this)[0];
                       var formData = new FormData($(this)[0]);
                       console.log($(this)[0])

                       console.log($(this).find("[name='packed_images']").val())
                       formData.append('image', $(this).find("[name='packed_images']")[0].files[0]);
                       formData.append('id', $(this)[0].id);
                          $.ajax({
                              url: "{% url 'core:save_image' %}",
                              type: 'POST',
                              data: formData,
                              headers: {'X-CSRFToken': token},
                              async: false,
                              cache: false,
                              contentType: false,
                              processData: false,
                              success: function (response) {
                                var img = '<a href="' + response.image + '" data-bs-toggle="modal" data-bs-target="#ajax_image_' + response.delivery_id + response.image_id + '">' +
                                          '<img src="' + response.image_mini + '" class="image-detail ajax_image">' +
                                           '</a>' +
                                           '<div class="modal fade" id="ajax_image_' + response.delivery_id + response.image_id + '" tabindex="-1" aria-hidden="true" aria-labelledby="ajax_image_' + response.delivery_id + '">' +
                                           '<div class="modal-dialog modal-xl">' +
                                           '<div class="modal-content">' +
                                           '<div class="modal-header">' +
                                           '<h1 class="modal-title fs-5" id="exampleModalLabel"></h1>' +
                                           '</div>' +
                                           '<div class="modal-body">' +
                                           '<img src="' + response.image + '">' +
                                           '</div>' +
                                           '<div class="modal-footer">' +
                                           '</div>' +
                                           '</div>' +
                                           '</div>' +
                                           '</div>'

                                var need = 'ajax_photo_' + response.delivery_id
                                $('#' + need).append(img);
                                $form.reset();
                                preview = 'preview_' + response.delivery_id
                                $("#" + preview).empty();
                              }
                           });
                    });
  </script>

{% endblock %}