{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<script src="{% static 'core/js/order.js' %}" defer></script>
<div class="row" style="padding-left: 1%; padding-right: 1%; background-color:#f5f5f5;">
    <h1 align="center">{{title}}</h1>
    <hr>
<div class="col-xs-12 col-sm-4" style="border-right: 1px solid;">
    <form id="order_form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% crispy order_form %}
        <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="button" class="btn btn-warning"><a href="{% url 'core:delete' data.pk %}">Удалить</a></button>
    </form>
    </form>
</div>
<div class="col-xs-12 col-sm-4" style="border-right: 1px solid;">
    <div class="row">
        <form id="product_form" class="row" name="product" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-error">{{ product_form.non_field_errors }}</div>
            {% crispy product_form helper %}
        </form>
    </div>
    <br>
</div>
{% if data.product.all %}
    <div class="col-xs-12 col-sm-4">
        <div class="accordion accordion-flush" id="accordionFlushExample">
        {% for prod in products %}
            <div class="accordion-item">
            <h2 class="accordion-header">
                {% if prod.product.logistics.all %}
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#acc{{forloop.counter}}" aria-expanded="false" aria-controls="flush-collapseOne" style="background-color:#d1dee3;">
                {% else %}
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#acc{{forloop.counter}}" aria-expanded="false" aria-controls="flush-collapseOne">
                {% endif %}
                <div class="row"><a href="{% url 'core:upd_product' prod.product.pk %}">{{prod.product.product_marker}} | {{prod.product.name}} | Оплачен: {% if prod.product.paid %}&#9989;{% else %}&#10060;{% endif %} | На складе {% if prod.product.arrive %}&#9989;{% else %}&#10060;{% endif %}</a></div>
              </button>
            </h2>
            <div id="acc{{forloop.counter}}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                  {% for img in prod.images %}
                    {% load thumbnail %}
                        {% thumbnail img.image "100x100" as im %}
                    <!-- Modal -->
                            <a href="{{ img.image.url }}" data-bs-toggle="modal" data-bs-target="#img{{forloop.counter}}_{{prod.product.pk}}">
                                  <img src="{{ im.url }}" class="image-detail">
                            </a>
                                        <div class="modal fade" id="img{{forloop.counter}}_{{prod.product.pk}}" tabindex="-1" aria-labelledby="img{{forloop.counter}}" aria-hidden="true">
                                          <div class="modal-dialog modal-xl">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">{{img.product}}</h1>
                                              </div>
                                              <div class="modal-body">
                                                <img src="{{ img.image.url }}">
                                              </div>
                                              <div class="modal-footer">
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                        {% endthumbnail %}
                  {% endfor %}
                  <hr>
                  {% for file in prod.product.files.all %}
                  {% if '.pdf' in file.filename %}
                      <a href={{file.file.url}} target="_blank"><img width="30px;" src="{% static 'core/image/pdf.png' %}">{{file.filename}}</a>
                  {% else %}
                      <a href={{file.file.url}}><img width="30px;" src="{% static 'core/image/xls.png' %}">{{file.filename}}</a>
                  <br>
                  {% endif %}
                  {% endfor %}
                  <div class="row">
                    <div class="col">
                        <a href="{% url 'core:upd_product' prod.product.pk %}" class="btn_edit">Редактировать</a>
                    </div>
                    <div class="col">
                        <form method="POST" action="{% url 'core:delete_product' prod.product.pk %}" class="form">
                            {% csrf_token %}<input type="submit" class="btn_delete" value="Удалить">
                        </form>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
    </div>
    {% endif %}
</div>
{% endblock %}