{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block rightside %}
{% if data.product.all %}
    <div class="row" style="background-color:#adbbcc; padding:5%;">
            <h1 align="center">Продавцы</h1>
            {% for form in formset %}
            {% endfor %}
            {{ formset.management_form }}
            <form class="row" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-error">{{ formset.non_field_errors }}</div>
                    {% crispy formset helper %}
            </form>
    </div>
    {% endif %}
{% endblock %}
{% block content %}
<div class="container" style="background-color:#adbbcc; padding:5%;">
    <h1 align="center">{{title}}</h1>
<div class="row">
<div class="col-6">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% crispy order_form %}
        <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="button"><a href="{% url 'core:delete' data.pk %}">Удалить</a></button>
    </form>
    </form>
</div>
<div class="col-6">
    <div class="row">
        <form class="row" name="product" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-error">{{ product_form.non_field_errors }}</div>
            {% crispy product_form helper %}
        </form>
    </div>
    <br>
</div>
</div>
</div>
{% endblock %}