{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block content %}

{% if form %}
    <div class="col secondcolor" style="padding-left: 1%; padding-right: 1%; background-color:#f5f5f5;">
        <div id="show_info">
        </div>
<div id="myOverlay"></div>
    <form id="delivery-form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% crispy form %}
    </form>
    </div>
{% endif %}
<input id="{{object.pk}}" type="hidden" name="id">
<script defer>

$(document).on('click', "input[name='invoice']", function (e) {
    e.preventDefault();
    var data = {
            id: $("input[name='id']").attr('id'),
        };
    var token = '{{ csrf_token }}';
    $.ajax({
        type: "POST",
        url: "{% url 'core:create_invoice' %}",
        headers: {'X-CSRFToken': token},
        data: data,
        success: function(response) {
        invoice_div = 'invoice'
        $("#" + invoice_div).empty();
        var card = '<a href=' + response.file_url + '><img width="30px;" src="/static/core/image/xls.png">' + response.file_name + '</a>'
        $("#" + invoice_div).append(card)
        message = 'message_' + response.delivery_id
        },
        error: function() {
            console.log('it broke');
        },
    });
});

window.onload = function () {
    const Delivery_form = document.getElementById('delivery-form')
    const volume = document.getElementById('id_volume')
    const weight = document.getElementById('id_weight')
    const density = document.getElementById('id_density')
    const csrf = document.getElementsByName('csrfmiddlewaretoken')
    const order_price = document.getElementById('id_order_price')

    const full_price = document.getElementById('id_full_price')
    const tariff = document.getElementById('id_tariff')
    const tariff_one_kg = document.getElementById('id_tariff_one_kg')
    const insurance = document.getElementById('id_insurance')
    const package_price = document.getElementById('id_package_price')

      tariff_one_kg.addEventListener('input', ()=>{
                        tariff.value = (parseFloat(tariff_one_kg.value) * parseFloat(weight.value)).toFixed(2)
                        full_price.value = (parseFloat(tariff.value) +  parseFloat(insurance.value) +  parseFloat(package_price.value)).toFixed(2)
        })

    tariff.addEventListener('input', ()=>{
                    if(tariff.value == ''){
                            tariff.value = 0;
                        }
                    full_price.value = (parseFloat(tariff.value) +  parseFloat(insurance.value) +  parseFloat(package_price.value)).toFixed(2)
    })


    insurance.addEventListener('input', ()=>{
                    if(insurance.value == ''){
                            insurance.value = 0;
                        }
                    full_price.value = (parseFloat(tariff.value) +  parseFloat(insurance.value) +  parseFloat(package_price.value)).toFixed(2)
    })

    package_price.addEventListener('input', ()=>{
                    if(package_price.value == ''){
                            package_price.value = 0;
                        }
                    full_price.value = (parseFloat(tariff.value) +  parseFloat(insurance.value) +  parseFloat(package_price.value)).toFixed(2)
    })

    volume.addEventListener('input', ()=>{
                    const volume_data = volume.value
                    console.log(volume_data)
                    if(weight.value == 0){
                            density.value = 0;
                        }
                    else {
                        density.value = parseFloat((weight.value / volume.value).toFixed(2))
                        }
    })
    weight.addEventListener('input', ()=>{
                    const volume_data = volume.value
                    console.log(volume_data)
                    if(volume.value == 0){
                            density.value = 0;
                        }
                    else {
                        density.value = parseFloat((weight.value / volume.value).toFixed(2))
                        }
    })

    weight.addEventListener('input', ()=>{
                    const volume_data = volume.value
                    console.log(volume_data)
                    if(volume.value == 0){
                            density.value = 0;
                        }
                    else {
                        density.value = parseFloat((weight.value / volume.value).toFixed(2))
                        }
                    tariff.value = (parseFloat(tariff_one_kg.value) * parseFloat(weight.value)).toFixed(2)
                    full_price.value = (parseFloat(tariff.value) +  parseFloat(insurance.value) +  parseFloat(package_price.value)).toFixed(2)
    })

};


$(document).on('click', "button[name='add_course']", function () {
                        const exchange_rate = document.getElementById('id_exchange_rate')
                        var token = '{{ csrf_token }}';
                        $.ajax({
                            type: "POST",
                            url: "{% url 'core:get_course' %}",
                            headers: {'X-CSRFToken': token},

                            success: function(response) {
                            console.log(response);
                            new_data =
                                        '<h4 style="color:white;">курс $: ' + response.course + '</h4>' +
                                        '<p class="p-size" style="line-height: 0; color:white; margin:0px;">' + response.date + '</p>'

                            $("#get_course").empty();
                            $("#get_course").append(new_data);
                            exchange_rate.value = parseFloat(response.course)

                            },
                            error: function() {
                                console.log('it broke');
                            },
                        });
                    });


    $('[name="product"]').on( "mouseenter", function(e) {
            var show_info = $(this).attr('rel');
            $("#show_info")
                .css("display", "block")
                .animate({ opacity: 1 }, 198);
            if (e.clientX > 700) {
                    $('#show_info').css({'left': e.clientX - 700, 'top': e.clientY + 10});
                    }
            else {
            $('#show_info').css({'left': e.clientX + 10, 'top': e.clientY + 10});
            }

    $.ajax({
            type        : 'POST',
            url         : "{% url 'core:show_product_info' %}",
            data: {
                id: $(this).attr('value'),
                csrfmiddlewaretoken: '{{ csrf_token }}'
                },

            success:function(response){

               var card_image = '<div class="col">' +
                                '<p class="p-size">' + 'Маркировка: ' + response.marker + '</p>' +
                                '</div>' +
                                '<div class="col">' +
                                '<p class="p-size">' + 'Наименование: ' + response.name + '</p>' +
                                '</div>'

                $("#show_info").empty();
                $('#show_info').append(card_image);
                $.each(response.image, function(k, v) {
                    var img = '<img class="img" src="' + v + '">'
                    $('#show_info').append(img);
                    if (k == 3) {
                    return false;
                    }
                });

          },
    });
});


$('[name="product"]').on( "mouseout", function() {
            $("#show_info").css("display", "none");
            $("#show_info").empty();
});


    $('[name="product"]').click(function() {
    var checked_paid = $(this).is(':checked');
    const order_price = document.getElementById('id_order_price')
    $.ajax({

        type: "POST",
        url: "{% url 'core:get_price' %}",
        data: { checked: checked_paid,
                id: $(this).attr('value'),
                csrfmiddlewaretoken: '{{ csrf_token }}'},

        success: function(response) {
               if (checked_paid) {
                      order_price.value = parseFloat(parseFloat(order_price.value) + parseFloat(response.price)).toFixed(2)
                    } else {
                      order_price.value = parseFloat(parseFloat(order_price.value) - parseFloat(response.price)).toFixed(2)
                    }
        },

        error: function() {
            console.log('it broke');
        },
    });
});

$("input").focus(function(){
  $(this).select();
});

</script>
{% endblock %}