{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block content %}

{% if form %}
<div class="row">
    <div class="col-xs-12 col-sm-9 secondcolor" style="padding-left: 1%; padding-right: 1%; background-color:#f5f5f5;">
        <div id="show_info">
        </div>
        <div id="myOverlay"></div>
        <form id="delivery-form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>
            {% crispy form %}
        </form>
    </div>
    <div class="col-xs-12 col-sm-3 gut">
        {% if orders %}
        {% for order, product in orders.items %}
        <div style="background-color:#d1dee3;">
            <div class="row" style="padding-left:5%; align:center;">
                <div class="col"><p class="p-size">{{order}}</p></div>
                <div class="col"><p class="p-size">{{order.exchange_for_client}}</p></div>
                <div class="col"><p class="p-size">{{order.exchange_for_company}}</p></div>
            </div>
        </div>
            <div class="accordion accordion-flush" id="accordionFlushExample">
            {% for prod in product %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#acc{{prod.pk}}" aria-expanded="false" aria-controls="flush-collapseOne" style="background-color:#f7fdff;">
                        {{prod.product_marker}} | {{prod.name}}
                        </button>
                </h2>
                <div id="acc{{prod.pk}}" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                          <div class="row">
                              <div class="col"><p>Маркировка:</p></div>
                              <div class="col"><p>{{prod.product_marker}}</p></div>
                              <hr>
                          </div>
                          <div class="row">
                              <div class="col"><p>Наименование:</p></div>
                              <div class="col"><p>{{prod.name}}</p></div>
                              <hr>
                          </div>
                          <div class="row">
                              <div class="col"><p>Номер заказа:</p></div>
                              <div class="col"><p>{{prod.number_order}}</p></div>
                              <hr>
                          </div>
                          <div class="row">
                              <div class="col"><p>Цена для клиента ¥:</p></div>
                              <div class="col"><p>{{prod.price}}</p></div>
                              <hr>
                          </div>
                          <div class="row">
                              <div class="col"><p>Цена для компании ¥:</p></div>
                              <div class="col"><p>{{prod.price_company}}</p></div>
                              <hr>
                          </div>
                          <div class="row">
                              <div class="col"><p>Доставка по Китаю для клиента ¥</p></div>
                              <div class="col"><p>{{prod.fraht}}</p></div>
                              <hr>
                          </div>
                          <div class="row">
                              <div class="col"><p>Доставка по Китаю для компании ¥</p></div>
                              <div class="col"><p>{{prod.fraht_company}}</p></div>
                              <hr>
                          </div>
                    </div>
              </div>
            </div>
        {% endfor %}
    </div>
    {% endfor %}
    </div>
    {% endif %}
    </div>

</div>
{% endif %}
<input id="{{object.pk}}" type="hidden" name="id">
<script defer>

$(document).on('click', "input[name='invoice']", function (e) {
    e.preventDefault();
    var data = {
            id: $("input[name='id']").attr('id'),
        };
    var token = '{{ csrf_token }}';
    $.ajax({
        type: "POST",
        url: "{% url 'core:create_invoice' %}",
        headers: {'X-CSRFToken': token},
        data: data,
        success: function(response) {
        invoice_div = 'invoice'
        $("#" + invoice_div).empty();
        var card = '<a href=' + response.file_url + '><img width="30px;" src="/static/core/image/xls.png">' + response.file_name + '</a>'
        $("#" + invoice_div).append(card)
        message = 'message_' + response.delivery_id
        },
        error: function() {
            console.log('it broke');
        },
    });
});

window.onload = function () {
    const Delivery_form = document.getElementById('delivery-form')
    const volume = document.getElementById('id_volume')
    const weight = document.getElementById('id_weight')
    const density = document.getElementById('id_density')
    const csrf = document.getElementsByName('csrfmiddlewaretoken')
    const order_price = document.getElementById('id_order_price')

    const full_price = document.getElementById('id_full_price')
    const tariff = document.getElementById('id_tariff')
    const tariff_one_kg = document.getElementById('id_tariff_one_kg')
    const insurance = document.getElementById('id_insurance')
    const package_price = document.getElementById('id_package_price')

      tariff_one_kg.addEventListener('input', ()=>{
                        tariff.value = (parseFloat(tariff_one_kg.value) * parseFloat(weight.value)).toFixed(2)
                        full_price.value = (parseFloat(tariff.value) +  parseFloat(insurance.value) +  parseFloat(package_price.value)).toFixed(2)
        })

    tariff.addEventListener('input', ()=>{
                    if(tariff.value == ''){
                            tariff.value = 0;
                        }
                    full_price.value = (parseFloat(tariff.value) +  parseFloat(insurance.value) +  parseFloat(package_price.value)).toFixed(2)
    })


    insurance.addEventListener('input', ()=>{
                    if(insurance.value == ''){
                            insurance.value = 0;
                        }
                    full_price.value = (parseFloat(tariff.value) +  parseFloat(insurance.value) +  parseFloat(package_price.value)).toFixed(2)
    })

    package_price.addEventListener('input', ()=>{
                    if(package_price.value == ''){
                            package_price.value = 0;
                        }
                    full_price.value = (parseFloat(tariff.value) +  parseFloat(insurance.value) +  parseFloat(package_price.value)).toFixed(2)
    })

    volume.addEventListener('input', ()=>{
                    const volume_data = volume.value
                    console.log(volume_data)
                    if(weight.value == 0){
                            density.value = 0;
                        }
                    else {
                        density.value = parseFloat((weight.value / volume.value).toFixed(2))
                        }
    })
    weight.addEventListener('input', ()=>{
                    const volume_data = volume.value
                    console.log(volume_data)
                    if(volume.value == 0){
                            density.value = 0;
                        }
                    else {
                        density.value = parseFloat((weight.value / volume.value).toFixed(2))
                        }
    })

    weight.addEventListener('input', ()=>{
                    const volume_data = volume.value
                    console.log(volume_data)
                    if(volume.value == 0){
                            density.value = 0;
                        }
                    else {
                        density.value = parseFloat((weight.value / volume.value).toFixed(2))
                        }
                    tariff.value = (parseFloat(tariff_one_kg.value) * parseFloat(weight.value)).toFixed(2)
                    full_price.value = (parseFloat(tariff.value) +  parseFloat(insurance.value) +  parseFloat(package_price.value)).toFixed(2)
    })

};


$(document).on('click', "button[name='add_course']", function () {
                        const exchange_rate = document.getElementById('id_exchange_rate')
                        var token = '{{ csrf_token }}';
                        $.ajax({
                            type: "POST",
                            url: "{% url 'core:get_course' %}",
                            headers: {'X-CSRFToken': token},

                            success: function(response) {
                            console.log(response);
                            new_data =
                                        '<h4 style="color:white;">курс $: ' + response.course + '</h4>' +
                                        '<p class="p-size" style="line-height: 0; color:white; margin:0px;">' + response.date + '</p>'

                            $("#get_course").empty();
                            $("#get_course").append(new_data);
                            exchange_rate.value = parseFloat(response.course)

                            },
                            error: function() {
                                console.log('it broke');
                            },
                        });
                    });


    $('[name="product"]').on( "mouseenter", function(e) {
            var show_info = $(this).attr('rel');
            $("#show_info")
                .css("display", "block")
                .animate({ opacity: 1 }, 198);
            if (e.clientX > 700) {
                    $('#show_info').css({'left': e.clientX - 700, 'top': e.clientY + 10});
                    }
            else {
            $('#show_info').css({'left': e.clientX + 10, 'top': e.clientY + 10});
            }

    $.ajax({
            type        : 'POST',
            url         : "{% url 'core:show_product_info' %}",
            data: {
                id: $(this).attr('value'),
                csrfmiddlewaretoken: '{{ csrf_token }}'
                },

            success:function(response){

               var card_image = '<div class="col">' +
                                '<p class="p-size">' + 'Маркировка: ' + response.marker + '</p>' +
                                '</div>' +
                                '<div class="col">' +
                                '<p class="p-size">' + 'Наименование: ' + response.name + '</p>' +
                                '</div>'

                $("#show_info").empty();
                $('#show_info').append(card_image);
                $.each(response.image, function(k, v) {
                    var img = '<img class="img" src="' + v + '">'
                    $('#show_info').append(img);
                    if (k == 3) {
                    return false;
                    }
                });

          },
    });
});


$('[name="product"]').on( "mouseout", function() {
            $("#show_info").css("display", "none");
            $("#show_info").empty();
});


    $('[name="product"]').click(function() {
    var checked_paid = $(this).is(':checked');
    const order_price = document.getElementById('id_order_price')
    $.ajax({

        type: "POST",
        url: "{% url 'core:get_price' %}",
        data: { checked: checked_paid,
                id: $(this).attr('value'),
                csrfmiddlewaretoken: '{{ csrf_token }}'},

        success: function(response) {
               if (checked_paid) {
                      order_price.value = parseFloat(parseFloat(order_price.value) + parseFloat(response.full_price)).toFixed(2)
                    } else {
                      order_price.value = parseFloat(parseFloat(order_price.value) - parseFloat(response.full_price)).toFixed(2)
                    }

        },

        error: function() {
            console.log('it broke');
        },
    });
});

$("input").focus(function(){
  $(this).select();
});

</script>
{% endblock %}