{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col secondcolor" style="padding-left: 1%; padding-right: 1%; background-color:#f5f5f5;">
  <div class="row">
      <hr>
      <div class="col-6"><p style="font-size: calc(16px + 8 * (100vw / 1280)); font-weight: 700;">{{ object.name }} {% if object.surname %}{{ object.surname }}{% endif %}</p></div>
      <div class="col-5"><p style="font-size: calc(16px + 8 * (100vw / 1280)); font-weight: 700;">Остаток на счете: {{ object.deposit }}</p></div>
      <div class="col"><button id="order_list" class="btn btn-secondary" type="button">Заказы</button></div>
  </div>
  <div class="col"><p><strong>Телефон: </strong>{% if object.phone %}{{ object.phone }}{% else %}Не указан{% endif %}</p></div>
        <div class="col messanger"><p>{{object.messanger}}</p></div>
  <div class="col-3" style="margin-top:5%;"><a href="{% url 'clients:upd' object.pk %}" class="btn_edit">Изменить</a></div>
    <hr>
    {% if comments %}
          {% for comment in comments %}
            <div class="col list-height" style="border-color:#bbddfd; margin-top:1%; margin-bottom:1%; background-color:#fff;">
                <div class="row hei" style="margin:0;">
                    <div class="col-3" style="background-color:#f2feff; margin-left: auto; margin-right: auto;">
                        <div class="row" style="margin-left: auto; margin-right: auto;">
                            <p style="font-size: calc(16px + 8 * (100vw / 1280)); font-weight: 700;">{{ comment.owner.username }}</p>
                        </div>
                        <div class="row" style="margin-left: auto; margin-right: auto;">
                            <p style="font-size: calc(12px + 8 * (100vw / 1280));">{{ comment.date_create }}</p>
                        </div>
                    </div>
                    <div class="col-8">
                        <p style="font-size:1rem;">{{ comment.comment }}</p>
                    </div>

                    <div class="col-1">
                        {% if comment.owner == request.user %}
                        <a href="{% url 'clients:del' comment.pk %}">удалить</a>
                        {% endif %}
                    </div>
                </div>
            </div>
          {% endfor %}
    {% else %}
        <p style="font-size: calc(16px + 8 * (100vw / 1280)); font-weight: 700;">Комментариев пока не оставляли.</p>
    {% endif %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {{ form|crispy }}
        <button class="btn btn-secondary" type="submit">Сохранить</button>
    </form>
    </div>

<div id="modal_order_list" style="display:none;">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modalBodyWrapper">
          {% for order in orders %}
          <div class="flex-wrap" style="background:#dfdfdf;padding:0;">
          <h2 align="center" style="padding-left:5px;">Заказ: {{order.order}}</h2>
          <h2 align="center" style="padding-right:5px;">Дата: {{order.order.date_create}}</h2>
          </div>
              {% for product in order.products %}
              <p>Продукт: {{product}}</p>
                <div class="flex-wrap-s">
                {% for img in product.images.all %}
              <img src="{{ img.url }}" class="image-detail">
                    {% load thumbnail %}
                        {% thumbnail img.image "128x64" as im %}
                    <!-- Modal -->
                        <div style="border: 2px solid #d0d0d0;">
                            <a href="{{ img.image.url }}" data-bs-toggle="modal" data-bs-target="#img_{{img.pk}}">
                                  <img src="{{ im.url }}" class="image-detail">
                            </a>
                        </div>
                        {% endthumbnail %}
                                        <div class="modal fade" id="img_{{img.pk}}" aria-labelledby="img_{{img.pk}}" aria-hidden="true">
                                          <div class="modal-dialog modal-xl">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">{{product}}</h1>
                                              </div>
                                              <div class="modal-body">
                                                <img src="{{ img.image.url }}">
                                              </div>
                                              <div class="modal-footer">
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                {% endfor %}
                {% for img in product.packed_images.all %}
                <img src="{{ img.url }}" class="image-detail">
                    {% load thumbnail %}
                        {% thumbnail img.image "128x64" as im %}
                    <!-- Modal -->
                        <div style="border: 2px solid #d0d0d0;">
                            <a href="{{ img.image.url }}" data-bs-toggle="modal" data-bs-target="#packed_img_{{img.pk}}">
                                  <img src="{{ im.url }}" class="image-detail">
                            </a>
                        </div>
                        {% endthumbnail %}
                                        <div class="modal fade" id="packed_img_{{img.pk}}" aria-labelledby="img_{{img.pk}}" aria-hidden="true">
                                          <div class="modal-dialog modal-xl">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">{{product}}</h1>
                                              </div>
                                              <div class="modal-body">
                                                <img src="{{ img.image.url }}">
                                              </div>
                                              <div class="modal-footer">
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                {% endfor %}
                </div>
              {% endfor %}
          <hr>
          {% endfor %}
      </div>
      <div class="modal-footer">
          <button name='close_modal' class="floating-button" type="button">закрыть</button>
      </div>
    </div>
  </div>
</div>

<script defer>
    $("#order_list").on( "click", function(e) {
        console.log('Нажали');
            $("#modal_order_list")
                .css("display", "block")
                .animate({ opacity: 1 }, 198);
    });

    $('button[name="close_modal"]').on( "click", function(e) {
            $("#modal_order_list")
                .css("display", "none")
                .animate({ opacity: 1 }, 198);
    });
</script>

{% endblock %}